.sub-event-button {
	display: inline-block;
	padding: 0.15rem 0;
	margin: 0;
	height: 1.4rem;
	border-radius: 3px;
	border: none;
	text-decoration: none;
	background: rgba(17, 153, 17, 0.75);
	opacity: 0.75;
	color: black;
	font-family: inherit;
	font-size: 0.75rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
}

.sub-event-button:hover,
.sub-event-button:focus {
	background: #039edc;
}

.no-sub-events {
	display: inline-block;
	border: none;
	margin: 0;
	width: 100%;
	height: 1.4rem;
	border-radius: 3px;
	text-decoration: none;
	background: #ededed;
	color: black;
	font-family: inherit;
	font-size: 0.75rem;
	text-align: center;
	-webkit-appearance: none;
	-moz-appearance: none;
}
