.task-header {
	font-size: 0.95rem;
	/* display: grid;
	grid-template-columns: 8rem 10rem 5rem 10rem 10rem 10rem 5rem 5rem 15rem;
	gap: 0.5rem; */
	/* margin: 0 0 0.25rem 0; */
	/* padding: 0.25rem 0 0.25rem 0; */
	background-color: #ededed;
	border: 0.1rem solid lightgray;
	border-radius: 3px;
	align-items: center;
}
