.task-view {
	margin: 0;
	padding: 0 1.5rem 0 1.5rem;
	min-height: 22rem;
	color: var(--text-primary);
	transition: all 250ms;
}

.task-header {
	text-align: start;
	margin: 0 0 0.25rem 0;
	padding: 0.25rem 0 0.25rem 1.5rem;
	background-color: var(--table-background);
	border: 0.1rem solid var(--table-border);
	border-radius: var(--border-radius);
	transition: all 250ms;
}

.table-container {
	box-sizing: border-box;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	border: 1px solid var(--table-border);
	border-radius: var(--border-radius);
}

table {
	background-color: var(--table-border);
	table-layout: auto;
	width: 100%;
	border-collapse: collapse;
	transition: all 250ms;
}

@media only screen and (max-width: 760px) {
	table {
		display: block;
	}
}

th {
	background-color: var(--table-background);
	height: 2.5rem;
	transition: all 250ms;
}

tr {
	border-color: var(--table-border);
	background-color: var(--table-background);
	height: 2rem;
}

tr:hover {
	background-color: var(--table-hover);
	transition: all 250ms;
}

td,
th {
	border-color: var(--table-border);
	padding: 3px 5px;
	border: 1px solid var(--table-border);
}
