.task-item {
	font-size: 0.75rem;
	background-color: var(--table-background);
	border: 0.1rem solid var(--table-border);
	border-radius: 3px;
	align-items: center;
	transition: all 250ms;
}

/* If any item within the task-item is focused, apply these styles to the element to highlight the selected task*/
.task-item:focus-within {
	border: 1px solid black;
	background-color: var(--focus-within-color);
	transition: all 250ms;
}

/* Styling to be applied to the status element based on the task status */
.NotSet {
	color: rgb(36, 193, 228);
}

.Started {
	color: rgb(35, 12, 187);
}

.Completed {
	color: rgb(33, 179, 33);
}

.Aborted {
	color: rgb(242, 129, 24);
}

.Failed {
	color: rgb(206, 64, 32);
}
