.task-item {
	font-size: 0.85rem;
	/* display: grid;
	grid-template-columns: 8rem 10rem 5rem 10rem 10rem 10rem 5rem 5rem 15rem;
	grid-template-rows: 1.2rem;
	gap: 0.5rem; */
	background-color: #ededed;
	border: 0.1rem solid lightgray;
	border-radius: 3px;
	align-items: center;
	/* width: 100%; */
}

/* If any item within the task-item is focused, apply these styles to the element to highlight the selected task*/
.task-item:focus-within {
	border: 1px solid black;
	background-color: lightgray;
}

/* Styling to be applied to the status element based on the task status */
.NotSet {
	color: rgb(36, 193, 228);
}

.Started {
	color: rgb(35, 12, 187);
}

.Completed {
	color: rgb(33, 179, 33);
}

.Aborted {
	color: rgb(242, 129, 24);
}

.Failed {
	color: rgb(206, 64, 32);
}
