.sub-event-button {
	display: inline-block;
	/* border: none; */
	/* padding: 1rem 2rem; */
	margin: 0;
	width: auto;
	max-height: 1.2rem;
	border-radius: 5px;
	border: 0.1rem solid lightgray;
	text-decoration: none;
	background: rgb(43, 186, 43);
	color: #ffffff;
	font-family: inherit;
	font-size: 0.9rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.sub-event-button:hover,
.sub-event-button:focus {
	background: #009ddb;
}

/* .sub-events:focus {
	outline: 1px solid #fff;
	outline-offset: -4px;
} */

/* .sub-events:active {
	transform: scale(0.99);
} */

.no-sub-events {
	display: inline-block;
	border: 0.1rem solid lightgray;
	/* border: none; */
	/* padding: 1rem 2rem; */
	margin: 0;
	width: auto;
	max-height: 1.2rem;
	border-radius: 5px;
	text-decoration: none;
	background: #ffffff;
	color: black;
	font-family: inherit;
	font-size: 0.9rem;
	/* cursor: pointer; */
	text-align: center;
	/* transition: background 250ms ease-in-out, transform 150ms ease; */
	-webkit-appearance: none;
	-moz-appearance: none;
}
