.sub-event-item {
	font-size: 0.75rem;
	/* display: grid;
	grid-template-columns: 8rem 5rem 12rem 12rem 5rem minmax(auto, max-content);
	grid-template-rows: minmax(1.2rem, auto);
	gap: 0.5rem; */
	/* margin: 0.25rem 0 0.25rem 0; */
	padding: 0.25rem 0 0.25rem 0;
	background-color: #ededed;
	border: 0.1rem solid lightgray;
	border-radius: 3px;
	align-items: center;
}

/* Styling to be applied to the status element based on the task status */
.NotSet {
	color: rgb(36, 193, 228);
}

.Started {
	color: rgb(35, 12, 187);
}

.Completed {
	color: rgb(33, 179, 33);
}

.Aborted {
	color: rgb(242, 129, 24);
}

.Failed {
	color: rgb(206, 64, 32);
}
