.sub-event-column-header {
	font-size: 0.9rem;
	margin: 0.25rem 0 0.25rem 0;
	padding: 0.25rem 0 0.25rem 0;
	background-color: var(--table-background);
	border: 0.1rem solid var(--table-border);
	border-radius: 3px;
	align-items: center;
}
