.sub-event-view {
	justify-content: center;
	margin: 0 0 3rem 0;
	padding: 0 1.5rem 0 1.5rem;
	color: var(--text-primary);
	transition: all 250ms;
}

.sub-event-header {
	text-align: start;
	margin: 2rem 0 0.25rem 0;
	padding: 0.25rem 0 0.25rem 1.5rem;
	background-color: var(--table-background);
	border: 0.1rem solid var(--table-border);
	border-radius: var(--border-radius);
	transition: all 250ms;
}

.table-container {
	box-sizing: border-box;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	border: 1px solid var(--table-border);
	border-radius: var(--border-radius);
}
