.hierarchy-view {
	justify-content: center;
	margin: 0;
	padding: 0 1.5rem 0 1.5rem;
	overflow-x: auto;
	color: var(--text-primary);
	transition: all 250ms;
}

.hierarchy-header {
	text-align: start;
	margin: 0 0 0.25rem 0;
	padding: 0.25rem 0 0.25rem 1.5rem;
	background-color: var(--table-background);
	border: 0.1rem solid var(--table-border);
	border-radius: 3px;
	transition: all 250ms;
}

.box {
	display: inline-block;
	border: 0.1rem solid var(--table-border);
	padding: 0.25rem 0.75rem;
	margin: 0 0.75rem;
	border-radius: 5px;
	text-decoration: none;
	background: linear-gradient(
		to bottom,
		var(--table-background) 0%,
		var(--background) 100%
	);
	/* background: var(--background); */
	color: var(--text-primary);
	font-family: inherit;
	text-align: center;
	transition: all 250ms;
}
