.hierarchy-item {
	font-size: 0.75rem;
	margin: 0.25rem auto;
	padding: 0.25rem 0 0.25rem 0;
	background-color: var(--table-background);
	border: 0.1rem solid var(--table-border);
	border-radius: 3px;
	align-items: center;
	width: 100%;
}

td button {
	background-color: var(--table-background);
	border: 0.1rem solid var(--table-border);
	border-radius: 3px;
}

/* Styling to be applied to the status element based on the task status */
.NotSet {
	color: rgb(36, 193, 228);
}

.Started {
	color: rgb(35, 12, 187);
}

.Completed {
	color: rgb(33, 179, 33);
}

.Aborted {
	color: rgb(242, 129, 24);
}

.Failed {
	color: rgb(206, 64, 32);
}
