.hierarchy-item {
	font-size: 0.75rem;
	/* display: grid;
	grid-template-columns: 8rem 5rem 12rem 12rem 30rem;
	grid-template-rows: 1.2rem;
	gap: 0.5rem; */
	margin: 0.25rem auto;
	padding: 0.25rem 0 0.25rem 0;
	background-color: #ededed;
	border: 0.1rem solid lightgray;
	border-radius: 3px;
	align-items: center;
	width: 100%;
}

/* Styling to be applied to the status element based on the task status */
.NotSet {
	color: rgb(36, 193, 228);
}

.Started {
	color: rgb(35, 12, 187);
}

.Completed {
	color: rgb(33, 179, 33);
}

.Aborted {
	color: rgb(242, 129, 24);
}

.Failed {
	color: rgb(206, 64, 32);
}

.arrow-button {
	width: 80px;
	height: 30px;
	display: inline-block;
	border: none;
	outline: slategrey solid 1px;
	border-radius: 3px;
	padding: 0.5rem 2rem;
	margin: 0 0.25rem;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.arrow-button:hover,
.arrow-button:focus {
	background-color: #d1cfcf;
}

.arrow-button:focus {
	outline: 1px solid #fff;
	outline-offset: -4px;
}

.arrow-button:active {
	transform: scale(0.99);
}

.upArrow {
	background: url('../svg/leftArrow.svg');
	background-size: 80px 30px;
	background-color: #ededed;
}
