.filter-menu-bar {
	padding: 0.5rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px) {
	.filter-menu-bar {
		flex-direction: row;
	}
}
