.search__bar {
	font-size: 1rem;
	background-color: var(--table-background);
	color: var(--text-primary);
	border: 1px solid var(--table-border);
	border-radius: var(--border-radius);
	margin: 0 1.5rem 1rem 1.5rem;
	padding: 0.75rem 0 0.75rem 0.75rem;
	display: flex;
	justify-content: space-between;
	flex-wrap: no-wrap;
	transition: all 250ms;
}

.search__bar label {
	margin: 0 0 0 0.75rem;
}

.search__inputs {
	display: flex;
	align-items: center;
}

.search__date {
	margin: 0 0.25rem;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.search__date label {
	margin: 0.25rem 0.25rem;
}

.search__date input {
	color: var(--text-primary);
	background-image: linear-gradient(
		to bottom,
		var(--table-background) 0%,
		var(--background) 100%
	);
	height: 1.5rem;
	width: 12rem;
	border: 0.1rem solid var(--table-border);
	border-radius: var(--border-radius);
	transition: all 250ms;
	padding: 0.09rem 0;
}

.theme {
	display: flex;
	flex-direction: column;
	color: var(--text-primary);
	font-size: 0.5rem;
	cursor: pointer;
	transition: all 250ms;
	padding: 0.65rem 0.65rem;
	width: min-content;
}

@media only screen and (max-width: 920px) {
	.search__inputs,
	.search__bar,
	.search__date {
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}

	.search__bar label,
	.search__date label {
		padding: 0.5rem;
	}
}

@media only screen and (max-width: 760px) {
	.search__inputs,
	.search__date {
		flex-direction: column;
		flex-wrap: no-wrap;
	}

	.search__bar label,
	.search__date label {
		padding: 0.25rem 0.25rem;
	}
}
