.arrow-button {
	max-width: 80px;
	height: 30px;
	/* display: inline-block; */
	border: none;
	outline: slategrey solid 1px;
	border-radius: 3px;
	padding: 0.5rem 2rem;
	margin: 0 0.25rem;
	text-decoration: none;
	cursor: pointer;
	align-content: center;
	/* text-align: center; */
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* button {
	color: #fff;
} */

.arrow-button:hover,
.arrow-button:focus {
	background-color: var(--table-hover);
}

.arrow-button:focus {
	outline: 1px solid #fff;
	outline-offset: -4px;
}

.arrow-button:active {
	transform: scale(0.99);
}

.leftArrow {
	background: url('../svg/leftArrow.svg');
	background-size: 80px 30px;
	background-color: var(--table-background);
}
.rightArrow {
	background: url('../svg/rightArrow.svg');
	background-size: 80px 30px;
	background-color: var(--table-background);
}
.doubleLeftArrow {
	background: url('../svg/dblLeftArrow.svg');
	background-size: 80px 30px;
	background-color: var(--table-background);
}
.doubleRightArrow {
	background: url('../svg/dblRightArrow.svg');
	background-size: 80px 30px;
	background-color: var(--table-background);
}
