.current-page {
	height: 30px;
	width: 150px;
	outline: slategrey solid 1px;
	border-radius: 3px;
	/* padding: 0.5rem 2rem; */
	margin: 0 0.25rem;
	text-decoration: none;
	/* text-align: center; */
	/* vertical-align: middle; */
	line-height: 30px;
}
